# Secret files
.env
*.env

# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Bot downloads & temporary files
downloads/
*.mp4
*.m4a
*.webm

# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db